.Registration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  border: 1px solid #CDCDCD;
  padding: 20px 20px 16px;
  border-radius: 3px;
  transition: all .3s ease;
  &:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  }
  &_Input {
    &.MuiTextField-root {
      margin-bottom: 25px;
    }
    &.MuiInput-root {
      margin-bottom: 20px;
    }
  }
}

